.TextField {
    position: absolute;
    width: 75%;
    left: 25%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid #E0D6D5;
}

.Input {
    width: 100%;
    height: 100%;
}

.Input textarea {
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    caret-color: orange;
}