.TextField {
    position: absolute;
    width: 65%;
    left: 30%;
    height: 100%;
    display: inline-block;
}

.Input {
    height: 100%;
}

.Input textarea {
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    caret-color: orange;
    font-family: apertura, sans-serif;
    font-size: 18px;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    left: 20px;  
}